 <div class="card">
  <div class="card-body">
      <p>Cadastre a Estação</p>
    <form  name="form1" action="controllerForm" method="post">
        <div class="row">
           <div class="col-md-6">
            <div class="form-group">
                <label for="formGroupExampleInput">ID</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="id">
            </div>
         <div class="form-group">
            <label for="formGroupExampleInput2">Serial</label>
            <input type="text" class="form-control" name="serial" id="serial" placeholder="serial">
        </div>
         <div class="form-group">
            <label for="formGroupExampleInput2">Latitude</label>
            <input type="text" class="form-control"  name="lat" id="lat" placeholder="latitude">
        </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Longitude</label>
            <input type="text" class="form-control" name="lon" id="lon" placeholder="longitude">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Nome</label>
            <input type="text" class="form-control"  name="nome" id="nome" placeholder="nome">
        </div>

        <button type="submit" class="btn btn-success" id="btnSubimit" 
        data-toggle="modal" data-target="#myModal">Cadastrar</button>
        
        <!-- Modal -->
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Estação cadastrada!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
                </div>
            </div>
            </div> 
        </div>
        </div>
    </form>
  </div>
</div>
