<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="index">Estações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dados</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
     <a href="cadastrarEstacao" class="btn btn-primary">Cadastrar Estação</a>
      <a href="procuraEstacao" class="btn btn-warning">Lista Estação</a>
  </div>
</div>

